*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

.DS_Store

lib/uwn/deps/plugins/uwn.dat

lib/uwn/deps/plugins/wordnet.dat
